<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboard.mapper.BoardMapper">

  <resultMap id="boardAccessAuthorityResultMap"
    type="com.example.springboard.domain.boards.BoardAccessAuthority">
    <result column="board_access_authority_id" property="id"/>
    <result column="access_level" property="accessLevel"/>
  </resultMap>

  <resultMap id="boardResultMap" type="com.example.springboard.domain.boards.Board">
    <result column="title" property="title"/>
    <result column="id" property="id"/>
    <collection property="boardAccessAuthority" resultMap="boardAccessAuthorityResultMap"/>
  </resultMap>

  <select id="findAllWithPaging" resultMap="boardResultMap">
    SELECT a.id,
           a.title,
           b.id as board_access_authority_id,
           b.access_level
    FROM boards a
           INNER JOIN board_access_authorities b ON a.access_authority_id = b.id
      LIMIT #{limit}
    OFFSET #{offset}
  </select>

  <select id="findById" parameterType="Integer" resultMap="boardResultMap">
    SELECT a.id,
           a.title,
           b.id as board_access_authority_id,
           b.access_level
    FROM boards a
           INNER JOIN board_access_authorities b ON a.access_authority_id = b.id
    where a.id = #{boardId}
  </select>

</mapper>
